._space {
  min-height: 1px;
  margin-bottom: var(--din-space) !important;
}
._space_0 {
  margin-bottom: 0 !important;
}
._padding_0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
@media (max-width: 991px) {
  ._desktop {
    display: none !important;
  }
}
@media (min-width: 992px) {
  ._mobile {
    display: none !important;
  }
}
._large {
  font-size: 1.2em;
}
._accent {
  color: var(--din-accent);
}
._invisible {
  visibility: hidden;
}
